HackingResistanceApp/xml-resources/web-service-references/AppMgr_1/wsdl/localhost_8084/HackingResistanceWeb/AppMgr.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hrp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hrp.com/" name="AppMgr">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hrp.com/" schemaLocation="http://localhost:8084/HackingResistanceWeb/AppMgr?xsd=1" />
</xsd:schema>
</types>
<message name="invalidateKey">
<part name="parameters" element="tns:invalidateKey" />
</message>
<message name="invalidateKeyResponse">
<part name="parameters" element="tns:invalidateKeyResponse" />
</message>
<message name="getKeyForUser">
<part name="parameters" element="tns:getKeyForUser" />
</message>
<message name="getKeyForUserResponse">
<part name="parameters" element="tns:getKeyForUserResponse" />
</message>
<message name="configureApp">
<part name="parameters" element="tns:configureApp" />
</message>
<message name="configureAppResponse">
<part name="parameters" element="tns:configureAppResponse" />
</message>
<message name="generateKey">
<part name="parameters" element="tns:generateKey" />
</message>
<message name="generateKeyResponse">
<part name="parameters" element="tns:generateKeyResponse" />
</message>
<message name="oneTimeLogin">
<part name="parameters" element="tns:oneTimeLogin" />
</message>
<message name="oneTimeLoginResponse">
<part name="parameters" element="tns:oneTimeLoginResponse" />
</message>
<portType name="AppMgr">
<operation name="invalidateKey">
<input wsam:Action="http://ws.hrp.com/AppMgr/invalidateKeyRequest" message="tns:invalidateKey" />
<output wsam:Action="http://ws.hrp.com/AppMgr/invalidateKeyResponse" message="tns:invalidateKeyResponse" />
</operation>
<operation name="getKeyForUser">
<input wsam:Action="http://ws.hrp.com/AppMgr/getKeyForUserRequest" message="tns:getKeyForUser" />
<output wsam:Action="http://ws.hrp.com/AppMgr/getKeyForUserResponse" message="tns:getKeyForUserResponse" />
</operation>
<operation name="configureApp">
<input wsam:Action="http://ws.hrp.com/AppMgr/configureAppRequest" message="tns:configureApp" />
<output wsam:Action="http://ws.hrp.com/AppMgr/configureAppResponse" message="tns:configureAppResponse" />
</operation>
<operation name="generateKey">
<input wsam:Action="http://ws.hrp.com/AppMgr/generateKeyRequest" message="tns:generateKey" />
<output wsam:Action="http://ws.hrp.com/AppMgr/generateKeyResponse" message="tns:generateKeyResponse" />
</operation>
<operation name="oneTimeLogin">
<input wsam:Action="http://ws.hrp.com/AppMgr/oneTimeLoginRequest" message="tns:oneTimeLogin" />
<output wsam:Action="http://ws.hrp.com/AppMgr/oneTimeLoginResponse" message="tns:oneTimeLoginResponse" />
</operation>
</portType>
<binding name="AppMgrPortBinding" type="tns:AppMgr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="invalidateKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKeyForUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="configureApp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generateKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="oneTimeLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AppMgr">
<port name="AppMgrPort" binding="tns:AppMgrPortBinding">
<soap:address location="http://localhost:8084/HackingResistanceWeb/AppMgr" />
</port>
</service>
</definitions>